@media only screen and (max-width:736px) and (min-width:320px)
{
#page {
	width: 100%; padding-bottom: 50px;
}
#content {
	padding: 15px;
}
#footer {
	padding: 15px;
}
#side {
	margin-bottom: 1em; min-height: 0px !important;
}
h2 {
	margin-top: 1.5em;
}
h3 {
	margin-top: 1.5em;
}
}
